version: '3.9'
services:
  web:
    build: .
    ports:
      - "8080:8080"
    environment:
      - FLASK_ENV=production
    restart: always
    security_opt:
      - no-new-privileges:true
    # Uncomment below for live development
    # volumes:
    #   - ./app:/app/app
